@model  List<Player>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Fullname</td>
            <td>@item.Nationality</td>
            <td>@item.Number</td>
            <td>@item.Position</td>
            <td>@item.DOB</td>
        </tr>
    }
</table>
